:root {
    --primary-1: #222034;
    --primary-2: #29273f;
    --primary-3: #34304f;

    --secondary-1: #ff9561;
    --secondary-2: #ec9f79;

    --third-1: #cb7289;
    --third-2: #d694a8;

    --border: #5e5c70;

    --text-1: #ffffff;
    --text-2: #ececec;

    --small-title: 3rem;
    --title: 2.5rem;
    --body: 2rem;
    --description: 1rem;
}

body {
    background-color: var(--primary-1);
    background-image: radial-gradient(
        circle,
        var(--primary-3) 1px,
        transparent 1px
    );
    background-size: 20px 20px;
    scroll-behavior: smooth;
}

.app {
    width: 768px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 128px;
}
